
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
Message:<input type="text" id="msg" />
<button id="Send">Send</button>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="~/Scripts/SendMessge.js"></script>

